CSS Reset

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}

input, button, textarea, select{
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
    hyphens: auto;
}

#root, #__next{
    isolation: isolate;
}

/* End CSS Reset */



html{
    height: 100vh;
    font-family: system-ui;
}

body{
    margin: 0;
    display: grid;
    height: 100%;
    grid-template-rows: 150px 1fr 24px;
    grid-template-columns:180px 1fr;
}

.header{
    grid-area: 1/1/2/3;
    background-color:aquamarine
}

.sidebar{
    grid-area: 2/1/3/2;
    background-color: cadetblue;
}
.content{
    grid-area: 2/2/3/3;
    background-color: rgb(230, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.footer{
    grid-area: 3/1/4/3;
    text-align: center;
    text-justify: center;
    background-color: salmon;
}
.footer>p{
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
}

table{
    margin: 40px;
    width: 75%
}

th{
    text-align: left;
    font-size: 110%;
    font-weight: bold;
}

form{
    width: 100%;
}
legend{
    text-align: center;
    padding: 0 20px;
    border: 2px solid rgb(69, 128, 184);
    border-radius: 0.6em;
    font-family: system-ui;
}
.inputs{
    border: 2px solid rgb(69, 128, 184);
    border-radius: 1.2em;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input, select{
    margin: 12px;
    padding-left: 6px;
    border: none;
    border-radius: 0.25em;
    outline: 1px solid rgb(15, 1, 146);
    min-width: 70px;
    background-color: white
}

input:focus{
    outline: 2px solid rgb(0, 159, 233);
}

#authorField{
    max-width: 150px;
}

#pagesField{
    max-width: 90px;
}

#readField{
    width: 100px;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#addBookButton{
    color: white;
    background-color: rgb(49, 96, 141);
    border: 2px solid rgb(52, 157, 255);
    border-radius: 1em;
    margin-left: 20px;
    padding: 4px 22px ;
    font-weight: bold;
}
#addBookButton:active{
    background-color: rgb(54, 164, 197)
}

form>p{
    margin-left: 2em;
    font-size: 0.8em;
}